* {
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  margin: 0;
  background: #201d39;
  display: flex;
  justify-content: center;
  padding: 30px;
}

.app-container {
  background: #ffc451;
  max-width: 900px;
  width: 100%;
  padding: 25px;
  border-radius: 14px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

header {
  text-align: center;
  margin-bottom: 25px;
}

header h1 {
  margin-bottom: 5px;
}

.problem-section textarea {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.problem-section button {
  margin-top: 10px;
  padding: 8px 14px;
  border-radius: 6px;
  border: none;
  background: #514575;
  color: #ffc451;
  cursor: pointer;
}

.pros-cons-section {
  display: flex;
  gap: 20px;
  margin-top: 25px;
}

.pros-box, .cons-box {
  flex: 1;
  background: #514575;
  padding: 20px;
  border-radius: 30px;
}

.pros-box h2 {
  color: #aadbbc;
}

.cons-box h2 {
  color: #eb9191;
}

.pros-box input, 
.cons-box input,
.pros-box select,
.cons-box select {
  width: 100%;
  margin-top: 8px;
  padding: 15px;
  border-radius: 15px;
  border: 1px solid #c58500;
}

.pros-box button {
  background: #65d08d;
  color: #201d39;
}

.cons-box button {
  background: #eb9191;
  color: #201d39;
}

.pros-box button,
.cons-box button {
  margin-top: 15px;
  padding: 10px;
  border: none;
  border-radius: 30px;
  cursor: url("cursor.png"), auto;
  width: 100%;
}

.result-section {
  margin-top: 30px;
  background: #a79dda;
  padding: 15px;
  border-radius: 15px;
  text-align: center;
}

.result-section h3 {
  margin: 10px 0;
}

.result-section button {
  margin-top: 10px;
  padding: 8px 16px;
  border: none;
  border-radius: 40px;
  background: #0f172a;
  color: #ffc451;
  cursor: url("cursor.png"), auto;
}
